
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href='@Url.Content("~/wwwroot/css/materialize.min.css")' media="screen,projection" />
    <link type="text/css" rel="stylesheet" href='@Url.Content("~/wwwroot/css/custom.css")' media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
    <!-- Скрытая анимация для длительных операций -->
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>

        <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>

        <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>

        <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <!-- Главное меню для экранов настольных ПК -->
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#!home">Home</a></li>
                <li><a href="#!signup">Signup</a></li>
                <li><a href="#!signin">Signin</a></li>
                <li><a href="#!home:out">Signout</a></li>
                <li><a href="#modal" class="modal-trigger cart"><i class="material-icons">shopping_cart</i></a></li>
            </ul>
        </div>
    </nav>
    <!-- Главное меню для экранов мобильных устройств -->
    <ul class="sidenav" id="mobile-demo">
        <li><a href="#!home">Home</a></li>
        <li><a href="#!signup">Signup</a></li>
        <li><a href="#!signin">Signin</a></li>
        <li><a href="#!home:out">Signout</a></li>
        <li><a href="#modal" class="modal-trigger cart"><i class="material-icons">shopping_cart</i></a></li>
    </ul>

    <!-- Секции для представлений разделов (add admin n adminunit) -->
    @*<section id="home" class="active" data-src='@Url.Content("~/wwwroot/pages/home.htm")'></section>
        <section id="signup" data-src='@Url.Content("~/wwwroot/pages/signup.htm")'></section>
        <section id="signin" data-src='@Url.Content("~/wwwroot/pages/signin.htm")'></section>*@
    <section id="home" class="active" data-src='@Url.Content("api/auth/page?pagename=home")'></section>
    <section id="signup" data-src='@Url.Content("api/auth/page?pagename=signup")'></section>
    <section id="signin" data-src='@Url.Content("api/auth/page?pagename=signin")'></section>
    <section id="admin" data-src='@Url.Content("api/auth/page?pagename=admin")'></section>
    <section id="adminunit" data-src='@Url.Content("api/auth/page?pagename=adminunit")'></section>
    <section id="error"></section>

    <!-- Скрытое всплывающее окно -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <!-- Место для динамического добавления контента на клиенте -->
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
        </div>
    </div>
    <!-- Библиотеки и общие сценарии -->
    <script src="~/wwwroot/js/jquery-3.3.1.min.js"></script>
    <script src="~/wwwroot/js/jquery-hashchange.js"></script>
    <script src="~/wwwroot/js/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/wwwroot/js/materialize.min.js"></script>
    <script src="~/wwwroot/js/hogan-3.0.2.min.js"></script>
    <script src="~/wwwroot/js/ImageTools.js"></script>

    <script src="~/wwwroot/js/custom.js"></script>
    <script src="~/wwwroot/js/app.js"></script>
</body>
</html>
